<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Event name*: </label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
            <span class="help-block" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
              This field is required
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date*: </label>
            <input
              type="date"
              id="date"
              class="form-control"
              formControlName="date"
              [min]="todayDate"
            />
            <span class="help-block" *ngIf="form.get('date')?.touched && form.get('date')?.invalid">
              This field is required
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type">Type*: </label>
            <select
              name="type"
              id="type"
              class="form-control"
              formControlName="type"
            >
              Type
              <option *ngFor="let type of eventTypes" [value]="type">{{type | lowercase}}</option>
            </select>
            <span class="help-block" *ngIf="form.get('type')?.touched && form.get('type')?.invalid">
              This field is required
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description: </label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>

      <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
      <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>
